* {
  margin: 0;
  padding: 0;
}

body {
	margin-bottom: 10%;
}

.navbar-text a {
  color: white !important;
}

.links a {
	color: white;
	text-decoration: none;
	font-size: 1.2rem;
}

footer {
	position: fixed;
	bottom: 0%;
	width: 100%;
}


.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40%;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
  margin-top: 22px;
}

.info-image {
	width: 50%;
}

.info-text {
	width: 50%;
}

@media only screen and (max-width: 1080px) {
	[class*="info-"] {
		width: 100%;
	}
}
